body{
    display:flex;
    align-items:center;
    justify-content:center;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.modal-account{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: url('Other/Pic/660691.jpg');
    background-position: center;
    background-size: cover;
}
.account{
    width: 450px;
    height: 350px;
    background-color: #ffffff10;
    backdrop-filter:blur(10px);
    position: relative;
    text-align: center;
    border-radius: 13px;
    font-family: tahoma;
    border: 1px white solid;
}
.account h1{
    font-size: 60px;
    color: white;
}
.account label{
    color: white;
    pointer-events: none;
    float: left;
    margin-top: 25px;
    padding-left: 10px;
}
.account input{
    border: 0;
    width: 100%;
    font-size: 1rem;
    border-radius: 4px;
    height: 40px;
    background-color: #ffffff10;
    backdrop-filter:blur(10px);
    border-bottom: 1px white solid;
}